.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 7px;
    padding: 5px;
  }
  
  .grid > div {
    border: 2px solid black;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  
h2{
    text-align:center;
}

/* body{
    background-color:burlywood;
} */
